@media (min-width: 1400px) {}

@media only screen and (max-width: 1399.98px) {


    #event-article a {
        font-size: 12px;
    }

    #event-article p {
        font-size: 12px;
    }

    #noicespace h3 {
        font-size: 20px !important;
    }

    #noicespace .floating-card p {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 1199.98px) {
    .hero-content {
        padding-top: 160px;
    }

    .hero-content h1 {
        color: white;
        font-size: 60px;
        font-weight: 500;
        line-height: 67.5px;
    }

    .hero-content p {
        line-height: 18.75px;
        width: 80%;
        margin: auto;
        margin-top: 16px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 991.98px) {
    #event-article a {
        font-size: 12px;
    }

    #event-article p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767.98px) {}

@media only screen and (max-width: 575.98px) {
    .navbar {
        padding: 20px 0 !important;
    }

    .hero-content {
        padding-top: 128px;
    }

    .hero-content h1 {
        color: white;
        font-size: 32px;
        font-weight: 500;
        line-height: 37.5px;
    }

    .hero-content p {
        line-height: 18.75px;
        width: 80%;
        margin: auto;
        margin-top: 16px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 28px !important;

        line-height: 32.81px !important;
    }


    #about {
        padding: 200px 0 150px 0;
        margin-top: -170px;
        text-align: center;
    }

    #about img {
        margin-bottom: 35px;
        padding: 0 80px;
    }

    #about p {
        width: 80%;
        margin: auto;
    }

    #topic {
        padding: 40px 0 40px 0;
    }

    #join-community .content {
        padding: 40px 40px 12vh 40px;
        background-position: 0px 44vh;
    }

    #secondary-video {
        margin-top: -20vh;
        z-index: 9;
        margin-bottom: 40px;
    }

    #event-article {
        padding: 55px 10px;
        margin-bottom: 90px;
    }

    #event-article h2 {
        font-size: 22px !important;
        margin: 0 !important;
    }

    #event-article a {
        font-size: 12px !important;
    }

    #event-article p {
        font-size: 12px;
        margin-bottom: 10px;
    }



    .bg-noicespace::before {
        background-color: var(--secondary-black);
        width: 100%;
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        border-radius: 16px;
        top: 0;
        left: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .noice-space-slider .swiper-slide {
        width: 80% !important;
    }

    #cta {
        text-align: center;

    }


    #cta a {
        text-align: center;
        margin: 10px 0 !important;
    }
}