:root {
     --primary-yellow: #D6AD05;
     --secondary-yellow: #FAD810;
     --black: #030303;
     --secondary-black: #0D0D0D;
}

html {
     font-size: 100%;
     scroll-behavior: smooth;
}

body {
     background-color: var(--black);
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-weight: 500;
     color: white;
     overflow-x: hidden;
}

section {
     overflow-x: hidden;
}

img {
     max-width: 100%;
     height: auto;
}

button:focus,
input:focus,
textarea:focus {
     outline: none;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
     border: none;
     cursor: pointer;
}

textarea {
     padding: 12px 25px;
     width: 100%;
}

span {
     display: inline-block;
}

a,
a:focus,
a:hover {
     text-decoration: none;
     color: inherit;
}


a {
     display: inline-block;
}

ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

blockquote {
     margin: 0 0 1.3em;
}

p {
     margin-bottom: 15px;
     line-height: 1.7em;
}

p:last-child {
     margin-bottom: 0px;
}

h2 {
     font-size: 48px;
     font-weight: 500;
     line-height: 56px;
     display: block;
     margin: auto;
}

.custom-container {
     max-width: 1600px;
}

.text-primary-yellow {
     color: var(--primary-yellow);
}

.text-secondary-yellow {
     color: var(--secondary-yellow);
     mix-blend-mode: normal;
     opacity: 0.5;
}

.text-white {
     color: white;
}

.btn {
     padding: 14px 40px;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
     font-weight: 500;
}

.btn-main {
     color: var(--black);
     border: 1px solid var(--primary-yellow);
     background-color: var(--primary-yellow);
     font-size: 16px;
     font-weight: 700;
     text-align: center;
}

.btn-main:hover {
     color: var(--primary-yellow);
     background-color: transparent;
     border: 1px solid var(--primary-yellow);
}

.btn-outline-main {
     color: var(--primary-yellow);
     border: 1px solid var(--primary-yellow);
     background-color: transparent;
     font-size: 16px;
     font-weight: 700;
     text-align: center;
}

.btn-outline-main:hover {
     color: var(--black) !important;
     background-color: var(--primary-yellow);
     border: 1px solid var(--black);
}

.btn-outline-main:hover .svg {
     fill: var(--secondary-black) !important;

}

.btn-outline-main:hover .svg-secondary {
     fill: var(--black) !important;
}

.btn-secondary {
     background-color: #1B1B1B;
     border: 1px solid #1B1B1B;
     border-radius: 30px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
     padding: 7.63px 18px;
}

.btn-secondary:hover {
     background-color: transparent;
     border: 1px solid #1B1B1B;
     color: #1B1B1B;

}

.vh-100 {
     min-height: 100vh;
}

.navbar {
     padding: 0;
     background-color: #050606;
}

.navbar-brand img {
     width: 210px;
     max-width: 100%;
}

.navbar .btn-main {
     padding: 7px 27px;
}

.navbar .nav-item {
     margin: 0 17px;

}

.navbar .nav-link {
     color: white;
     font-size: 14px;
     padding: 20px 0 !important;
}

.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
     color: #F6D510 !important;
     border-bottom: 3px solid #F6D510 !important;
     ;
}

.navbar-toggler {
     width: 50px;
     height: 50px;
     line-height: 50px;
     border-radius: 50%;
     text-align: center;
     background: transparent;
     border: 1px solid #fff;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
}

.navbar-toggler .toggle-bar,
.menu-toggler .toggle-bar {
     position: relative;
     width: 24px;
     height: 1px;
     background-color: #fff;
     line-height: inherit;
     margin-top: -12px;
     top: -16px;
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
}

.navbar-toggler .toggle-bar::before,
.menu-toggler .toggle-bar::before {
     position: absolute;
     content: "";
     bottom: -7px;
     right: 0;
     width: 15px;
     height: 1px;
     background-color: #fff;
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
}

.navbar-toggler .toggle-bar::after,
.menu-toggler .toggle-bar::after {
     position: absolute;
     content: "";
     bottom: -14px;
     right: 0;
     width: 10px;
     height: 1px;
     background-color: #fff;
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
}

.navbar-toggler:hover,
.menu-toggler:hover {
     background-color: #fff;
}

.navbar-toggler:hover .toggle-bar,
.menu-toggler:hover .toggle-bar {
     background-color: #ECC00C;
}

.navbar-toggler:hover .toggle-bar::before,
.menu-toggler:hover .toggle-bar::before {
     background-color: #ECC00C;
     width: 100%;
}

.navbar-toggler:hover .toggle-bar::after,
.menu-toggler:hover .toggle-bar::after {
     background-color: #ECC00C;
     width: 100%;
}

.hero-content {
     padding-top: 60px;
}

.hero-content h1 {
     color: white;
     font-size: 60px;
     font-weight: 500;
     line-height: 70.31px;
}

.hero-content p {
     line-height: 24px;
     width: 63%;
     margin: auto;
     margin-top: 35px;
     margin-bottom: 35px;
}


#hero .floating-image-1 {
     position: absolute;
     top: 8vh;
     width: 17.5vw;
}

#hero .floating-image-2 {
     position: absolute;
     top: 17vh;
     width: 20vw;
     right: 0;
}

#hero .floating-image-3 {
     position: absolute;
     top: 53vh;
     width: 4.3vw;
     left: 4vw;
}

#hero .floating-image-4 {
     position: absolute;
     bottom: 20px;
     width: 4.3vw;
     right: 4vw;
}

#intro-video {
     z-index: 1;
}

.video-container {
     position: relative;
     overflow: hidden;
     border: solid;
     border-radius: 2rem;
     border-width: thick;
     padding-top: 56%;
     border: solid;
}

.video-container iframe {
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     border: 0;
}

#about {
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     background: var(--secondary-black);
     padding: 300px 0 150px 0;
     margin-top: -250px;
}

#topic {
     padding: 190px 40px 123px 40px;
}

#topic .topic-slider {
     padding-top: 50px;
}

#topic .card {
     background: #202020;
     padding: 24px;
     border-radius: 12px;
     min-height: 170px;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
}

#topic .card h3 {
     color: white;
     font-size: 20px;
}

#topic .topic-slider {
     overflow: hidden;
     width: 100%;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
}

.swiper-notification {
     display: none;
}

.swiper-pagination {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     margin-top: 60px;
}

.topic-slider .swiper-pagination .swiper-pagination-bullet,
.partner-slider .swiper-pagination .swiper-pagination-bullet,
.event-slider .swiper-pagination .swiper-pagination-bullet,
.article-slider .swiper-pagination .swiper-pagination-bullet {
     height: 12px;
     width: 12px;
     border-radius: 50%;
     border: 1px solid white;
     background-color: white;
     opacity: 1;
}

.topic-slider .swiper-pagination .swiper-pagination-bullet-active,
.partner-slider .swiper-pagination .swiper-pagination-bullet-active,
.event-slider .swiper-pagination .swiper-pagination-bullet-active,
.article-slider .swiper-pagination .swiper-pagination-bullet-active {
     border: none;
     background-color: var(--primary-yellow);
     position: relative;
     width: 25px !important;
     border-radius: 999px !important;
     background-color: var(--primary-yellow);
}

#join-community {
     margin-bottom: 90px;
     padding: 0 40px;

}

#join-community .content {
     padding: 90px 0 50vh 0;
     background-color: var(--secondary-black);
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     background-image: url('../image/satelite.png');
     background-position: center 27vh;
     background-size: contain;
     background-repeat: no-repeat;
}

#join-community h2 {
     font-size: 60px;
     line-height: 70px;
}

#join-community {
     z-index: 1;
}


#secondary-video {
     margin-top: -50vh;
     z-index: 9;
     margin-bottom: 40px;
}

#partner {
     padding: 40px 0;
}

#partner h2 {
     font-size: 60px;
     line-height: 70.31px;
}

#partner .swiper-wrapper {
     align-items: center !important;
     /* add this will all relevant prefixes */
}

#event-article {
     background-color: var(--secondary-black);
     padding: 55px 0;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     margin-bottom: 90px;
}

#event-article {
     background-color: var(--secondary-black);
     padding: 55px 0;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     margin-bottom: 90px;
}

#event-article .container-fluid {
     padding: 0 40px;
}

.main-card {
     background: #1D1F25;
     margin-bottom: 40px;
}

.main-card .card-body {
     position: relative;
     padding: 20px;
}

.main-card .card-body,
.main-card img,
.card-article,
.card-article img {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}


.event-info {
     position: absolute;
     width: 100%;
     top: 0;
     padding: 16px;
}

.event-info .event-status {
     padding: 4px 8px;
     margin-left: auto;
     width: fit-content;
     color: var(--black);
     background: #FFBB29;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
     text-align: center;

}

.event-info .event-status span {
     color: var(--black);
     font-weight: 500;
     font-size: 12px;
     Line-height: 14.06px;
     text-align: center;
}



.event-detail span {
     font-family: Roboto;
     font-size: 12px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 1px;
     text-align: left;
     color: #949191;
     margin-left: 12px;
}

.event-detail .event-time {
     margin-left: 16px;
}

.main-card h3 {
     font-size: 18px;
     font-weight: 600;
     line-height: 27px;
     letter-spacing: 0em;
     text-align: left;

}

.main-card .category-article {
     color: var(--primary-yellow);
     font-family: Roboto;
     font-size: 14px;
     font-weight: 400;
     line-height: 16px;
     letter-spacing: 0px;
     margin-bottom: 17px;

}

.main-card .description {
     color: #B5B5BE;
     font-size: 14px;
     font-weight: 400;
     line-height: 16px;
     letter-spacing: 0px;
     margin-bottom: 17px;
}

.main-card a {
     color: #ECC00C;
     font-family: 'Poppins';
     font-weight: 500
}

.main-card .card-footer,
.card-article .card-footer {
     padding: 15px 20px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border: 0;
}


#sponsored {
     padding: 40px 0 50px 0;
     margin-bottom: 50px;
}

#sponsored h2 {
     font-size: 60px;
     line-height: 70.31px;
     margin-bottom: 60px;
}

#sponsored img {
     margin: 0 auto 55px auto;
     display: block;
}

#noicespace {
     padding: 40px 0;
     overflow-x: visible;
}

#noicespace h2 {
     margin-bottom: 20px;
     padding-top: 40px;
}

#noicespace h3 {
     font-size: 32px;
     font-weight: 700;
     line-height: 38px;
     text-align: left;

}

#noicespace p {
     margin-bottom: 40px;

}

.noice-space-icon {
     position: absolute;
     top: -65px;
     max-width: 100%;
}

.noice-space-icon img {
     width: 90px;
     max-width: 100%;
}

.noice-space-card {
     position: relative;
     border-radius: 16px;
     -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
     -ms-border-radius: 16px;
     -o-border-radius: 16px;
}

.noice-space-card img {

     border-radius: 16px;
     -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
     -ms-border-radius: 16px;
     -o-border-radius: 16px;
}

.noice-space-card .card-body {
     position: absolute;
     bottom: 0;
     padding: 20px;
}

#cta {
     margin: 75px 0 40px 0;
     padding: 0 40px;
}

#noicespace {
     padding: 0 40px;
}




.bg-noicespace::before {
     background-color: var(--secondary-black);
     width: 100%;
     content: "";
     position: absolute;
     bottom: -40px;
     height: 100%;
     border-radius: 16px;
     /* top: 50%;
     left: 50%;
     transform: translate(-50%, -50%); */
}

.banner-cta {
     padding-top: 50px;
     padding-bottom: 50px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     background-color: var(--secondary-black);
     background-image: url('../image/CTA\ Download.png');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}

#footer {
     background-color: var(--secondary-black);
     padding: 50px 0;
}

#footer img {
     width: 200px;
     max-width: 100%;
}

#footer p {
     margin-bottom: 15px;
     font-weight: 700;

}

#footer ul li a {
     color: #949191;
     font-size: 14px;
     margin-bottom: 15px;
     font-weight: 400;
}

#footer ul li a:hover {
     color: white;
}

#footer .copyright {
     margin-top: 40px;

}

#footer .copyright p {
     font-size: 12px;
     font-weight: 500;
     line-height: 14px;
}

#footer ul li:last-child a {
     margin-bottom: 0;
}

#header-section {
     margin-top: 40px;
     overflow-x: visible;
}

#header-list-events .search-container {
     position: absolute;
     /* background-color: red; */
     top: 0;
     width: 100%;
     height: 100%;
}

#header-list-events .header {
     margin-bottom: 40px;
}

.filter {
     margin: 20px 0;
}

.search-bar .input-group-text {
     padding: 10px;
     background-color: #1D1F25;
     border: 1px solid #1D1F25;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
}

.search-bar .form-control {
     background-color: #1D1F25;
     border: 1px solid #1D1F25;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
     color: #757B8C;
}

.filter .nav-link {
     padding: 0;
     margin-right: 30px;
}

.filter .nav-link.active,
.filter .nav-link:hover,
.filter .nav-link:focus {
     color: #F6D510 !important;
     border-bottom: 3px solid #F6D510 !important;
     padding-bottom: 10px;
}

.filter li .nav-link {
     color: #949191;
}

.input-group {
     width: 230px;
}


.nice-select {
     background-color: #1D1F25;
     border: 1px solid #1D1F25;
     color: #757B8C;
     width: 250px;
     max-width: 100%;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
     border-color: #ecc00c;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
     background-color: var(--secondary-black);
}

.nice-select .list {
     background-color: var(--secondary-black);
     width: 100%;
}

.list-card {
     margin-bottom: 60px;
}

.pagination-container {
     margin-bottom: 60px;
}

.page-link {
     background-color: var(--black);
     color: white;
     border: 0;
     padding: 15px 20px;
}

.page-link:hover {
     z-index: 2;
     color: var(--primary-yellow);
     background-color: var(--black);
     border: 0;
}

.active>.page-link,
.page-link.active,
.page-link:focus {
     z-index: 3;
     color: var(--primary-yellow);
     background-color: var(--black);

}

.page-item .next {
     background-color: #303338;
     color: white;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
}

.page-item .next:hover {
     color: var(--primary-yellow);
}


.video-card {
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     border: 0;
}

.video-card img {
     border-radius: 10px;

     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.video-card h3 {

     font-size: 18px;
     font-weight: 600;
     line-height: 27px;
     text-align: left;
     margin-bottom: 0;

}

.video-info {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     padding: 10px;
     display: flex;
     align-items: flex-end;
     z-index: 1;
}

.play-button {
     position: absolute;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 2;
     width: 40px;
}

.play-button img {
     width: 40px;
}

.breadcrumb-item.active {
     color: var(--primary-yellow);
}

.share .dropdown-menu.show {
     display: block;
     background-color: transparent;
     color: white;
}

.share .dropdown-item {
     background-color: transparent;
     color: var(--primary-yellow);
     margin: auto;
     width: fit-content;
}

.img-rounded {
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.caption {
     color: #5A7184;
     font-weight: 400;
     font-size: 14px;
     line-height: 20px;
     margin-top: 20px;
}

#article h1 {

     font-style: normal;
     font-weight: 500;
     font-size: 48px;
     line-height: 56px;
     color: white;
     margin-bottom: 40px;
}

#article h2 {
     font-family: Roboto;
     font-size: 48px;
     font-weight: 700;
     line-height: 48px;
     letter-spacing: 0.20000000298023224px;
     margin-bottom: 40px;

}

#event h2 {

     font-size: 26px;
     font-weight: 700;
     line-height: 39px;
     letter-spacing: 0.20000000298023224px;
     margin-bottom: 20px;
     color: #d9d9d9;

}

#article p,
#article li,
#event p,
#event li {
     text-align: justify;
     font-family: Roboto;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0px;
     text-align: justified;
     color: #D9D9D9;
}

#article img,
#event img {
     margin-bottom: 20px;
}

.related h3 {
     font-weight: 700;
     font-size: 24px;
     line-height: 28px;
     color: #FFFFFF;
}

.related span a {
     font-weight: 400;
     font-size: 18px;
     color: #949191;
}

.publish-on,
.publish-date {
     color: #686767;
     font-weight: 400;
     font-size: 14px;
     line-height: 16px;
}

.publish-date {
     color: #D2D2D2;
}

.single-event-info {
     margin-top: 40px;
     padding: 30px 40px;
     background-color: var(--secondary-black);
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}

#single-partnership {
     padding: 130px 0
}

#single-partnership h1,
#single-partnership h2 {
     margin-bottom: 50px;
     font-style: normal;
     font-weight: 500;
     font-size: 48px;
     line-height: 56px;
}

#single-partnership img {
     margin-bottom: 50px;
}

form label {
     font-style: normal;
     font-weight: 600;
     font-size: 15px;
     line-height: 18px;
}

form .form-control {
     background: #131313;
     border: 1px solid #232323;
     border-radius: 4px;
     padding: 16px;
     gap: 8px;
     font-weight: 400;
     font-size: 15px;
     line-height: 18px;
     color: white;
}

.form-check-input:checked {
     background-color: var(--primary-yellow);
     border-color: var(--primary-yellow);
     color: var(--black);
}

.squaredFour {
     width: 10px;
     position: relative;
     margin-right: 20px;
}

.squaredFour label {
     width: 20px;
     height: 20px;
     cursor: pointer;
     position: absolute;
     top: 0;
     left: 0;
     background: var(--primary-yellow);
     border-radius: 4px;

}

.squaredFour label:after {
     content: '';
     width: 12px;
     height: 7px;
     position: absolute;
     top: 4px;
     left: 4px;
     border: 3px solid #333;
     border-top: none;
     border-right: none;
     background: transparent;
     opacity: 0;
     transform: rotate(-45deg);
}

.squaredFour label:hover::after {
     opacity: 0.5;
}

.squaredFour input[type=checkbox] {
     visibility: hidden;
}

.squaredFour input[type=checkbox]:checked+label:after {
     opacity: 1;
}

.countdown-container {
     position: absolute;
     width: 100%;
     bottom: 10px;
     left: 0
}